.footerContainer{
  display: flex;
  background-color: black;
  color: white;
  margin-top: 5rem;

}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.desc{
  margin: 20px 0px;
}

.socialContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.socialIcon {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color:red;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 20px; */
    
  }

  .center{
    flex: 1;
    padding: 20px;
}

.title{
  margin-bottom: 30px;


}

 .list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.listItem {
  width: 50%;
  margin-bottom: 10px;
}

.right {
  flex: 1;
  padding: 20px;
}

.contactItem {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}





@media (max-width: 600px) {
  .footerContainer{
    display: flex;
  flex-direction: column;
  }

.socialContainer {
 
  justify-content: space-around;

}


}