
.slider-container {
  overflow: hidden;
  width: 100%;
  height: 500px; 

}

.slider-wrapper {
  display: flex;
  transition: transform 1s ease; 
}

.slide {
  flex: 0 0 100%;
}

.current-slide {
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100vh;

  object-fit: cover;
}

@media (max-width: 600px){
  .slider-container {
    height: 350px; 
  }
  .slide img {
    height: 400px;
  
  
  }
  
}