.productListContainer{
    margin-top: 1.4rem;
}
.productTitle{
font-weight: 500;
font-size: 2rem;
}
.title{
  margin: 20px;
}

 .filterContainer{
  display: flex;
  justify-content: space-between;
}

 .filter {
  margin: 20px;
}

.filterText {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}

.select {
  padding: 10px;
  margin-right: 20px;
}

@media (max-width: 600px) {
    .filter{
          display: flex; 
          flex-direction: column;
}
.select {
    margin-top: .5rem;
  }
}