.wrapper{
  padding: 50px;
  display: flex;

}
.imageContainer{
  flex: 1;

}
.productImage{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.productInfo{
    flex: 1;
    padding: 0px 50px;
}
.title{
  font-weight: 200;

}
.description{
  margin: 20px 0px;

}

.price{
    font-weight: 100;
  font-size: 2rem;
}
.filteredcontainer{
    width: 50%;
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}
.filter{
    display: flex;
    align-items: center;
}
.filterTitle{
    font-size: 20px;
  font-weight: 200;
}
.filterColor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 5px;
    cursor: pointer;
}
.addContainer{
    width: 100%;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
}

.amountContainer{
    display: flex;
  align-items: center;
  font-weight: 700;
}

.amount{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}
.colorCount{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colorCountContainer{
display: flex;
cursor: pointer;
gap: .4rem;
}
.colorCountContainertwo{
display: flex;
flex-direction: column;
/* gap: .4rem; */

}
.openColor{
  display: flex;
  gap: -1rem;
  width: max-content;
}
.zbutton{
  border: none;
  background-color: blue;
  padding: 10px;
  color: white;
  cursor: pointer;
  width: 40%;
  border-radius: 2rem;

}

.zbutton:hover{
    background-color: blue;

}

@media (max-width: 810px) {
  .productImage{
    /* width: 35vw; */
    width: 100%;
    height: 35vh;
    object-fit: cover;
}
    
}

@media (max-width: 600px) {
  
    .imageContainer{
        flex: 1;
      
      }
      .productImage{
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

      .wrapper{
        padding: 50px;
        display: flex;flex-direction: column;
      
      }

      .addContainer{
        width: 100%;
        flex-direction: column;
        /* gap: 3rem; */
      
    }
    .zbutton{
      /* margin-top: 2rem; */
      border: none;
      background-color: blue;
      padding: 10px;
      color: white;
      cursor: pointer;
      width: 100%;
      border-radius: 2rem;
  }
  .openColor{
    margin-top: -0.6rem;
  }
}